<rbs-links-panel title="{{ i18nAttr('m.rbs.plugins.admin.plugin-list', ['ucf']) }}" icon="icon-list-alt">
	<a href="Rbs/Plugins/Installed/" class="rbs-panel-link" icon="icon-star">{{ i18nAttr('m.rbs.plugins.admin.installed-list', ['ucf']) }}</a>
	<a href="Rbs/Plugins/Registered/" class="rbs-panel-link" icon="icon-star-half-empty">{{ i18nAttr('m.rbs.plugins.admin.registered-list', ['ucf']) }}</a>
	<a href="Rbs/Plugins/New/" class="rbs-panel-link" icon="icon-star-empty">{{ i18nAttr('m.rbs.plugins.admin.new-list', ['ucf']) }}</a>
</rbs-links-panel>