<div>

	<ul class="nav nav-list">
		<li class="nav-header">{{ i18nAttr('m.rbs.plugins.admin.plugin-list', ['ucf']) }}</li>
		<li><a href="Rbs/Plugins/Installed"><i class="icon-star"></i> {{ i18nAttr('m.rbs.plugins.admin.installed-list', ['ucf']) }}</a></li>
		<li><a href="Rbs/Plugins/Registered"><i class="icon-star-half-empty"></i> {{ i18nAttr('m.rbs.plugins.admin.registered-list', ['ucf']) }}</a></li>
		<li><a href="Rbs/Plugins/New"><i class="icon-star-empty"></i> {{ i18nAttr('m.rbs.plugins.admin.new-list', ['ucf']) }}</a></li>
	</ul>

</div>