<rbs-links-panel title="{{ i18nAttr('m.rbs.plugins.admin.plugin_list', ['ucf']) }}" icon="icon-list-alt">
	<a rbs-active-route="" href="Rbs/Plugins/Installed/" rbs-panel-link="" icon="icon-star">{{ i18nAttr('m.rbs.plugins.admin.installed_list', ['ucf']) }}</a>
	<a rbs-active-route="" href="Rbs/Plugins/Registered/" rbs-panel-link="" icon="icon-star-half-empty">{{ i18nAttr('m.rbs.plugins.admin.registered_list', ['ucf']) }}</a>
	<a rbs-active-route="" href="Rbs/Plugins/New/" rbs-panel-link="" icon="icon-star-empty">{{ i18nAttr('m.rbs.plugins.admin.new_list', ['ucf']) }}</a>
</rbs-links-panel>